body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.DateTimeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.DateTimeFormInput {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.CountdownContainer{
    display: none;
}

.Countdown {
    font-family: "Sixtyfour", sans-serif;
    font-size: 200%;
}

.MessageBox {
    position: fixed;
    top: 5%;
    background-color: #e0e0e0;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
